@import '../../variables';

.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.contentWrap {
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.contentText {
  font-size: 14px;
}

.contentParalax {
  font-size: 14px;
}
